*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.container{
    min-width: 100%;
    content: '';
    display: table;
    clear: both;
}

/* COLUMNS */
.col-1{
    width: calc(50% / 6);
}

.col-2{
    width: calc((50% / 6) * 2);
}

.col-3{
    width: calc((50% / 6) * 3);
}

.col-4{
    width: calc((50% / 6) * 4);
}

.col-5{
    width: calc((50% / 6) * 5);
}

.col-6{
    width: 50%;
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-11{
    width: calc((100% / 12) * 11);
}

.col-12{
    width: 100%;
}

[class^="col"]{
    float: left;
}

/* OFFSET */
.offset-1{
    margin-left: calc(50% / 6);
}

.offset-2{
    margin-left: calc((50% / 6) * 2);
}

.offset-3{
    margin-left: calc((50% / 6) * 3);
}

.offset-4{
    margin-left: calc((50% / 6) * 4);
}

.offset-5{
    margin-left: calc((50% / 6) * 5);
}

.offset-6{
    margin-left: 50%;
}

.offset-7{
    margin-left: calc((100% / 12) * 7);
}

.offset-8{
    margin-left: calc((100% / 12) * 8);
}

.offset-9{
    margin-left: calc((100% / 12) * 9);
}

.offset-10{
    margin-left: calc((100% / 12) * 10);
}

.offset-11{
    margin-left: calc((100% / 12) * 11);
}

.offset-12{
    margin-left: 100%;
}

/* rigth */
.offsetR-1{
    margin-right: calc(50% / 6);
}

.offsetR-2{
    margin-right: calc((50% / 6) * 2);
}

.offsetR-3{
    margin-right: calc((50% / 6) * 3);
}

.offsetR-4{
    margin-right: calc((50% / 6) * 4);
}

.offsetR-5{
    margin-right: calc((50% / 6) * 5);
}

.offsetR-6{
    margin-right: 50%;
}

.offsetR-7{
    margin-right: calc((100% / 12) * 7);
}

.offsetR-8{
    margin-right: calc((100% / 12) * 8);
}

.offsetR-9{
    margin-right: calc((100% / 12) * 9);
}

.offsetR-10{
    margin-right: calc((100% / 12) * 10);
}

.offsetR-11{
    margin-right: calc((100% / 12) * 11);
}

.offsetR-12{
    margin-right: 100%;
}
